<div class="left-body">
                
                <button type="button" class="btn" style="width: 55%; align-items: left; text-align: left;">
                    <i class="bi bi-clock" style="font-size: 25px; color: whitesmoke;"></i>
                    <span style="font-size: 20px; margin-left: 6px; color: whitesmoke;"><a href="/login" style="color: whitesmoke; text-decoration: none;">Timeline</span></a>
                </button>
                <button type="button" class="btn" style="width: 50%; align-items: left; text-align: left;">
                    <i class="bi bi-stars" style="font-size: 25px; color: whitesmoke;"></i>
                    <span style="font-size: 20px; margin-left: 6px; color: whitesmoke;"><a href="/login" style="color: whitesmoke; text-decoration: none;">Popular</span></a>
                </button>
                <div class="lineh"></div>
                
           
            </div>