<div class="right-body">
        <h3>Popular rooms</h3>
        <div class="Rooms-list">
            {{#each popularRooms}}
            <div class="Rooms-img">
                <img src="{{image}}">
                <div class="room-name">
                    <strong>{{name}}</strong> <br />
                    <h6>{{members}} members</h6>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
        
