
 <div class="body">
    <div class="top-body">
                <div class="edit-container">
                    <a href="/home"><span class="return"><ion-icon name="return-up-back-outline"></ion-icon></span></a>
                    <div class="title-container">
                        <h1>Create a Post</h1>
                    </div>
                    <div class="form-container">
                        <form>
                            <input type="text" name="title" class="title-textarea" placeholder="Title*"> <br>
                            <input type="search" name="room" class="room-searcharea" placeholder="+ Add into a room"> <br>
                            <textarea name="content" placeholder="Body"></textarea>
                            <div class="submit-container">
                                <input type="submit" action="" class="submitBtn" value="Post">
                            </div>
                        </form>
                        </div>
                </div>
                    
            </div>
 </div>


