{{>header}}

        <div class="body">

            {{>sidebar_left}}

            <div class="container">
                <div class="top-body">
                    <div class="Title">What's popular?</div>
                    <ul class="popular-posts"> 
                        <li class="popular-content"><div class="captions">
                        </div>
                        <h5><strong>What's going to happen to Gaza?</strong></h5>
                                        <h6>The terrors, the humanitarian crisis, and the long cry for peace...</h6>
                                        <div class="profile-img-cap">
                                            <img src="images/FRworldnews.png">  
                                            <span class="room-name">fr/worldnews</span>
                                        </div>
                        </li>
                        <li class="popular-content"><div class="captions">
                        </div>
                        <h5><strong>Campus Renovations Underway: New Library and Study Spaces!</strong></h5>
                                        <h6>Exciting news! The campus is...</h6>
                                        <div class="profile-img-cap">
                                            <img src="images/FRdelozol.jpg">  
                                            <span class="room-name">fr/DeLozol</span>
                                        </div>
                        </li>
                        <li class="popular-content"><div class="captions">
                        </div>
                        <h5><strong>Met Gala 2024: Best and Worst Dressed</strong></h5>
                                        <h6>The Met Gala delivered again...</h6>
                                        <div class="profile-img-cap">
                                            <img src="images/FRfashion.png">  
                                            <span class="room-name">fr/fashion</span>
                                        </div>
                        </li>
                        <li class="popular-content"><div class="captions">
                        </div>
                        <h5><strong>Global Climate Summit Key Takeaways</strong></h5>
                                        <h6>World leaders have concluded the Global Climate...</h6>
                                        <div class="profile-img-cap">
                                            <img src="images/FRworldnews.png">  
                                            <span class="room-name">fr/worldnews</span>
                                        </div>
                        </li>
                        <li class="popular-content"><div class="captions">
                        </div>
                        <h5><strong>Cat Cafe Opening in BGC Next Month</strong></h5>
                                        <h6>Exciting news for cat lovers! A new cat cafe...</h6>
                                        <div class="profile-img-cap">
                                            <img src="images/FRcatLovers.png">  
                                            <span class="room-name">fr/catLovers</span>
                                        </div>
                        </li>
                    </ul>
                
                </div>
    
                <div class="bottom-body">
                    <button type="button" class="btn post-container">
                        <div class="lineh"></div>
                            <a href="/home"></a>
                            <div class="post-header">
                                <div class="op-pfp"><img id="pfp5" src="images/prof-2.png"/></div>
                                <div class="post-info">
                                    <div class="op-username" id="op-username">by <a href="/profile">@roiMark</a> • June 6, 2024</div>
                                    <div class="room">
                                        <img id="fr1" src="images/FRdelozol.jpg"/>
                                        <span class="roomname">fr/DeLozol</span>
                                    </div>
                                </div>
                            </div>
                        <div class="post-content">
                            <div class="post-title">De La Salle Wins Regional Sports Championship!!</div>
                            <div class="post-content">Congrats to our sports teams for winning the regional championship! Go, LaSalle!</div>
                        </div>
                            <div class="post-footer">
                                <div class="votes">
                                    <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">659</span>
                                    <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">43</span>
                                    <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">126</span>
                                </div>
                            </div>
                    </button> 
                    <button type="button" class="btn post-container">
                        <div class="lineh"></div>
                            <a href="/home"></a>
                            <div class="post-header">
                                <div class="op-pfp"><img id="pfp5" src="images/prof-5.png"/></div>
                                <div class="post-info">
                                    <div class="op-username" id="op-username">by <a href="/profile">@juan01</a> • June 6, 2024</div>
                                    <div class="room">
                                        <img id="fr1" src="images/FRfashion.png"/>
                                        <span class="roomname">fr/fashion</span>
                                    </div>
                                </div>
                            </div>
                        <div class="post-content">
                            <div class="post-title">Sustainable Fashion Brands on the Rise</div>
                            <div class="post-content">A new wave of sustainable fashion brands is making waves in the industry. Have you tried any of these?</div>
                        </div>
                            <div class="post-footer">
                                <div class="votes">
                                    <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">603</span>
                                    <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">23</span>
                                    <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">99</span>
                                </div>
                            </div>
                    </button> 
                    <button type="button" class="btn post-container">
                        <div class="lineh"></div>
                            <a href="/home"></a>
                            <div class="post-header">
                                <div class="op-pfp"><img id="pfp5" src="images/prof-3.png"/></div>
                                <div class="post-info">
                                    <div class="op-username" id="op-username">by <a href="/profile">@vince34</a> • June 6, 2024</div>
                                    <div class="room">
                                        <img id="fr1" src="images/FRworldnews.png"/>
                                        <span class="roomname">fr/worldnews</span>
                                    </div>
                                </div>
                            </div>
                        <div class="post-content">
                            <div class="post-title">Historic Peace Treaty Signed in Middle East</div>
                            <div class="post-content">A signifcant peace treaty has been signed in the Middle East, marking hopeful turn in international relations</div>
                        </div>
                            <div class="post-footer">
                                <div class="votes">
                                    <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">599</span>
                                    <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">58</span>
                                    <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">347</span>
                                </div>
                            </div>
                    </button> 
                    <button type="button" class="btn post-container">
                        <div class="lineh"></div>
                            <a href="/home"></a>
                            <div class="post-header">
                                <div class="op-pfp"><img id="pfp5" src="images/prof-1.png"/></div>
                                <div class="post-info">
                                    <div class="op-username" id="op-username">by <a href="/profile">@gabLlenarez12</a> • June 6, 2024</div>
                                    <div class="room">
                                        <img id="fr1" src="images/FRcatLovers.png"/>
                                        <span class="roomname">fr/catLovers</span>
                                    </div>
                                </div>
                            </div>
                        <div class="post-content">
                            <div class="post-title">Adopt Dont Shop!</div>
                            <div class="post-content">I am so fed up over people abandoning pets, especially cats, everywhere then going around to buy imported cats</div>
                        </div>
                            <div class="post-footer">
                                <div class="votes">
                                    <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">427</span>
                                    <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">17</span>
                                    <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">32</span>
                                </div>
                            </div>
                    </button> 
                    <button type="button" class="btn post-container">
                        <div class="lineh"></div>
                            <a href="/home"></a>
                            <div class="post-header">
                                <div class="op-pfp"><img id="pfp5" src="images/prof-4.png"/></div>
                                <div class="post-info">
                                    <div class="op-username" id="op-username">by <a href="/profile">@azaVelasquez</a> • June 6, 2024</div>
                                    <div class="room">
                                        <img id="fr1" src="images/FRprogrammer.png"/>
                                        <span class="roomname">fr/programmer</span>
                                    </div>
                                </div>
                            </div>
                        <div class="post-content">
                            <div class="post-title">New Python 3.10 Features Released</div>
                            <div class="post-content">Python 3.10 is out with new pattern matching features and improved error messages. Have you upgraded yet?</div>
                        </div>
                            <div class="post-footer">
                                <div class="votes">
                                    <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">405</span>
                                    <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">23</span>
                                    <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">342</span>
                                </div>
                            </div>
                    </button> 
          
                </div>
            
                </div>
                <div class="right-body">
                    <h3>Popular rooms</h3>
                    <div class="Rooms-list">
                        <div class="Rooms-img">
                            <img src="images/FRworldnews.png">
                            <div class="room-name">
                                <strong> fr/worldnews</strong> <br />
                                <h6>6,339,495 members</h6>
                            </div>
                        </div>
                        <div class="Rooms-img">
                            <img src="images/allkpop.jpg">
                            <div class="room-name">
                                <strong> fr/AllKpop</strong> <br />
                                <h6>6,334,405 members</h6>
                            </div>
                        </div>
                        <div class="Rooms-img">
                            <img src="images/frhorror.jpg">
                            <div class="room-name">
                                <strong> fr/horrorEnthusiasts</strong> <br />
                                <h6>5,430,109 members</h6>
                            </div>
                        </div>
                        <div class="Rooms-img">
                            <img src="images/frmovie.jpg">
                            <div class="room-name">
                                <strong> fr/movieClub</strong> <br />
                                <h6>5,339,225 members</h6>
                            </div>
                        </div>
                        <div class="Rooms-img">
                            <img src="images/frkdrama.jpg">
                            <div class="room-name">
                                <strong> fr/kdramaddicts</strong> <br />
                                <h6>4,984,354 members</h6>
                            </div>
                        </div>
                        <div class="Rooms-img">
                            <img src="images/frinvesthings.jpg">
                            <div class="room-name">
                                <strong> fr/invesTHINGS</strong> <br />
                                <h6>4,536,657 members</h6>
                            </div>
                        </div>
                        <div class="Rooms-img">
                            <img src="images/frbook.jpg">
                            <div class="room-name">
                                <strong> fr/bookRoom</strong> <br />
                                <h6>3,756,863 members</h6>
                            </div>
                        </div>
                        <div class="Rooms-img">
                            <img src="images/frrunning.jpg"  style="width: 50px;">
                            <div class="room-name">
                                <strong> fr/runners</strong> <br />
                                <h6>3,100,495 members</h6>
                            </div>
                        </div>
                        <div class="Rooms-img">
                            <img src="images/frdoglovers.jpg"  style="width: 50px;">
                            <div class="room-name">
                                <strong> fr/doglovers</strong> <br />
                                <h6>3,005,653 members</h6>
                            </div>
                        </div>
                        <div class="Rooms-img">
                            <img src="images/frpc.jpeg">
                            <div class="room-name">
                                <strong> fr/AllAboutPC</strong> <br />
                                <h6>3,00,874 members</h6>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>

       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
       <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
       <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>



