       {{>header}}

            <div class="top-body">
                
                <button type="button" class="btn post-container">
                    <div class="lineh"></div>
                    <a href="profile.html"></a>
                    <div class="post-header">
                        <div class="op-pfp"><img id="pfp5" src="images/prof-5.png"/></div>
                        <div class="post-info">
                            <div class="op-username">by <a href="profile.html">@juan01</a> • June 4, 2024</div>
                            <div class="room">
                                <img id="fr1" src="images/FRdelozol.jpg"/>
                                <span class="roomname">fr/DeLozol</span>
                            </div>
                        </div>
                    </div>
                <div class="post-content">
                    <a href="post.html" style="text-decoration: none;">
                    <div class="post-title">The DOTA2 situation is so nakakahiya</div>
                    <div class="post-content">I am actually ashamed to realize that the whole DOTA2 tournament issue was started by a player from DLSU!! Like now my friends are 
                        calling me iyakin WHEN IM NOT EVEN THAT GUY HIMSELF. Next time guys wag kayo iiyak kapag may nagemote na kalaban kapag namatay kau thx.</div>
                </div>
                    <div class="post-footer">
                        <div class="votes">
                            <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">402</span>
                            <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">96</span>
                            <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">5</span>
                        </div>
                    </div>
                
                </button>
            </a>
                <button type="button" class="btn post-container">
                    <div class="lineh"></div>
                        <a href="profile.html"></a>
                        <div class="post-header">
                            <div class="op-pfp"><img id="pfp5" src="images/prof-2.png"/></div>
                            <div class="post-info">
                                <div class="op-username">by <a href="profile.html">@roiMark</a> • June 4, 2024</div>
                                <div class="room">
                                    <img id="fr1" src="images/FRfashion.png"/>
                                    <span class="roomname">fr/fashion</span>
                                </div>
                            </div>
                        </div>
                    <div class="post-content">
                        <div class="post-title">Summer Fashion Tips fls</div>
                        <div class="post-content">Summer's here and i'm looking for some fresh outfit ideas to beat the heat while staying stylish. Can any of u guys recommend any? TIA!!!</div>
                    </div>
                        <div class="post-footer">
                            <div class="votes">
                                <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">252</span>
                                <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">5</span>
                                <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">35</span>
                            </div>
                        </div>
                    </button>
                <button type="button" class="btn post-container">
                    <div class="lineh"></div>
                        <a href="home.html"></a>
                        <div class="post-header">
                            <div class="op-pfp"><img id="pfp5" src="images/prof-1.png"/></div>
                            <div class="post-info">
                                <div class="op-username">by <a href="profile.html">@gabLlenarez12</a> • June 4, 2024</div>
                                <div class="room">
                                    <img id="fr1" src="images/FRprogrammer.png"/>
                                    <span class="roomname">fr/programmer</span>
                                </div>
                            </div>
                        </div>
                    <div class="post-content">
                        <div class="post-title">Dark mode or light mode???</div>
                        <div class="post-content">Do you guys prefer coding in dark mode or light mode? I've been using dark mode for years but thinking of switching it up. What are your thoughts?</div>
                    </div>
                        <div class="post-footer">
                            <div class="votes">
                                <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">65</span>
                                <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">0</span>
                                <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">8</span>
                            </div>
                        </div>
                </button>
                <button type="button" class="btn post-container">
                    <div class="lineh"></div>
                        <a href="home.html"></a>
                        <div class="post-header">
                            <div class="op-pfp"><img id="pfp5" src="images/prof-4.png"/></div>
                            <div class="post-info">
                                <div class="op-username">by <a href="profile.html">@azaVelasquez</a> • June 4, 2024</div>
                                <div class="room">
                                    <img id="fr1" src="images/FRcatLovers.png"/>
                                    <span class="roomname">fr/catLovers</span>
                                </div>
                            </div>
                        </div>
                    <div class="post-content">
                        <div class="post-title">DIY cat toys</div>
                        <div class="post-content">I'm thinking of making some DIY toys for my cats. Any simple and fun ideas that your kitties love? Would love to hear some suggestions!!! tysm..</div>
                    </div>
                        <div class="post-footer">
                            <div class="votes">
                                <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">120</span>
                                <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">0</span>
                                <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">89</span>
                            </div>
                        </div>
                </button>
                <button type="button" class="btn post-container">
                    <div class="lineh"></div>
                        <a href="home.html"></a>
                        <div class="post-header">
                            <div class="op-pfp"><img id="pfp5" src="images/prof-3.png"/></div>
                            <div class="post-info">
                                <div class="op-username">by <a href="profile.html">@vince34</a> • June 3, 2024</div>
                                <div class="room">
                                    <img id="fr1" src="images/FRfashion.png"/>
                                    <span class="roomname">fr/fashion</span>
                                </div>
                            </div>
                        </div>
                    <div class="post-content">
                        <div class="post-title">Thrift shop finds</div>
                        <div class="post-content">Went thrifting today and found some amazing vintage pieces! Anyone else love thrifting as much as I do? Share your best finds!!</div>
                    </div>
                        <div class="post-footer">
                            <div class="votes">
                                <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">34</span>
                                <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">3</span>
                                <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">16</span>
                            </div>
                        </div>
                </button>
                <button type="button" class="btn post-container">
                    <div class="lineh"></div>
                        <a href="home.html"></a>
                        <div class="post-header">
                            <div class="op-pfp"><img id="pfp5" src="images/prof-5.png"/></div>
                            <div class="post-info">
                                <div class="op-username">by <a href="profile.html">@juan01</a> • June 3, 2024</div>
                                <div class="room">
                                    <img id="fr1" src="images/FRdelozol.jpg"/>
                                    <span class="roomname">fr/DeLozol</span>
                                </div>
                            </div>
                        </div>
                    <div class="post-content">
                        <div class="post-title">Wifi situation is getting worse</div>
                        <div class="post-content">Why is the campus wifi always so slow?! 2024 na and we still can't get a stable connection. Im trying to study in the library but the internet is barely working. Hope this gets fixed soon. </div>
                    </div>
                        <div class="post-footer">
                            <div class="votes">
                                <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">22</span>
                                <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">17</span>
                                <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">13</span>
                            </div>
                        </div>
                </button>                      
                        
                </div>

                {{>sidebar_right}}





