<div class="wrapper">

        <span class="close-button">
            <a href="home.html"><ion-icon name="close-outline"></ion-icon></a>
        </span>


        <div class="form-box">

            <div class="logo"><img src="images/1.png"></div>

            <div class="welcome-msg">
                <h3>Let's Get Started.</h3>
                <h4>Already have an account? <a href="/login">Log in</a></h4>
            </div>

            <form action="/register" method="POST"  class="input-group">

                <div class="input-box">
                    <label for="username">Username</label>
                    <input type="username" id="username" class="input-field" name="username"  placeholder="username">
                </div>

                <div class="input-box">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="input-field" name="password" required placeholder="password">
                </div>

                <div class="input-box">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" class="input-field" name="confirm-password" required placeholder="confirm password">
                </div>

                <div class="checkbox-content">
                    <label><input type="checkbox">You agree to our <a href="#">User Agreement</a> and acknowledge that you understand the <a href="#">Privacy Policy</a>.</label>
                </div>

                <div class="submit-box">
                    <button type="submit" class="button" href="customize.html"><a href="customize.html">Continue</a></button>
                </div>

            </form>

        </div>

    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


